:root {
    --heading-background-color:#054A91;
    --heading-text-color:#81a4cd;
    --heading-font:'rockwell extra bold';  
    --text-font:'aptos mono';
    --paragraph-font: 'aptos mono';
    --paragraph-text-color: black;
}

a {
    text-decoration: none;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}

body {
    width: 1200px;
}



h1 {
    position: absolute;
    top: 200px;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 400px;
    font-size: 50px;
}



.nav {
    position: absolute;
    margin-top: 25px;
}


article {
    position: absolute;
    top: 800px;
    right: 0;
    left: 0;
    margin: 0 auto;
}

article img {
    size: 1em;
    float: right;
    width: 50px;
    background-color:#81a4cd;
}

.footer {
    text-decoration: none;
}

