:root {
    --heading-background-color:#054A91;
    --heading-text-color:#81a4cd;
    --heading-font:'Permanent Marker';  
    --text-font:'Roboto';
    --paragraph-font: 'Roboto';
    --paragraph-text-color: black;
}

a {
    text-decoration: none;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}

body {
    width: 1200px;
    margin: 0 auto;
}



h1 {
    position: absolute;
    top: 200px;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 400px;
    font-size: 50px;
}



.nav {
    position: absolute;
    margin-top: 25px;
}


article {
    position: absolute;
    top: 350px;
    right: 0;
    left: 0;
    margin: 0 auto;
    background-color: #81a4cd;
    width: 60%;
    padding: 10px;
}

.hero article img {
    float: right;
    width: 200px;
    /* background-color:#81a4cd; */
}

.footer {
    text-decoration: none;
}

